body {
    font-family: 'Mulish', sans-serif;
}

/* nav-bar-section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-others {
    display: flex;
    margin-right: 130px;
    margin-top: 0px;
}

.title-others>h2 {
    padding-right: 40px;
}

.main-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.orange-title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.title-and-image {
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-top: 0px;
}

.nav-title {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.small-text {
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.logo {
    margin-right: 10px;
}

/* banner section  */
.banner-main-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
}

.banner-sub-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.banner-text {
    height: 500px;
    padding-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 85%);
    border-radius: 16px;
    /* padding-bottom: -70px; */


}

.banner-section {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1100px;
    margin: auto;
    background-size: contain;
    margin-top: 30px;
}

.button-pro {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 10px 35px 10px 35px;

}

.banner-option-size {
    padding: 10px 30px 10px 10px;
    border: 0;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
}

.banner-option {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 65%;
    height: 60px;
    /* padding-top: 20px; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

/* mountain section */
.mountain-main-text {
    color: #131318;
    font-family: Mulish;
    font-size: 35px;
    font-weight: 800;
}

.m-s-t {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.mountain-main-image {
    width: 400px;
}

.mountain-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


/* places section  */
.place-text {
    text-align: center;
    margin-top: 100px;
}

.last-column-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.last-column {
    position: relative;
}

.last-column-text {
    /* position: absolute; */
    text-align: center;
    margin-top: -210px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

.second-column {
    margin-top: 110px;
}

.third-column {
    margin-top: 110px;
}

.column2 {
    margin-top: 110px;
}

.service-container {
    margin-top: 200px;
}

.main-service-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.sub-service-title {
    text-align: center;
    margin-top: 0;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.carts1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 500px;
    padding: 20px;
}

.carts2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 500px;
    padding: 20px;
}

.carts3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 25px;

}

.carts1>h2,
.carts2>h2,
.carts3>h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.two-cart-here {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.three-cart-service {
    margin-top: 50px;
}

.last-img {
    width: 100%;
}

.icon-deal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deal-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-logo {
    width: 25px;
    height: 25px;
}

.p-text {
    margin-right: 25px;
}

.deals-main-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-sub-title {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.deals-container {
    margin-top: 150px;
}


.first-deal>h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.first-deal {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.orange-tag {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.orange-button {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 25px;

}

.deal-text-container {
    width: 500px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    border-radius: 16px;
    border: 2px solid #FFF;
    margin-top: -420px;
    margin-left: 600px;
    position: absolute;
    padding: 20px 30px 20px 20px;
}









@media screen and (min-width:992px) and (max-width:1200px) {

    .title-and-image {
        margin-left: 15px;
    }

    .title-others {
        margin-right: 0px;
    }

    .banner-section {
        width: 95%;
    }

    .banner-text {
        height: 415px;
    }

    .banner-option {
        width: 80%;
    }

}

@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }

    .title-others {
        flex-direction: column;
        margin-right: 0px;
    }

    .title-others>h2 {
        padding-right: 0px;
        text-align: center;
    }

    .title-and-image {
        margin-left: 0px;
    }

    .banner-section {
        width: 90%;
        height: 483px;
        background-size: cover;
    }

    .banner-main-title {
        font-size: 22px;
    }

    .banner-text {
        padding-top: 30px;
        height: 483px;
    }

    .banner-sub-title {
        font-size: 14px;
        line-height: 21px;
    }

    .banner-option {
        flex-direction: column;
        gap: 16px;
        margin-top: 0px;
        width: 80%;
        height: 280px;
    }

    .put {
        padding-right: 100px;
    }

    .button-pro {
        padding-left: 70px;
        padding-right: 70px;

    }

    .mountain-section {
        flex-direction: column;
    }

    .mountain-main-image {
        width: 100%;
    }

    .last-column-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        gap: 0px;
    }

    .last-img {
        width: 400px;
        height: 300px;
        margin-top: 95px;
    }

    .last-column-text {
        margin-top: -200px;
    }

    .two-cart-here {
        flex-direction: column;
    }

    .carts1,
    .carts2,
    .carts3 {
        width: 88%;
    }

}